[submodule "CESM-modernization-overview"]
	path = CESM-modernization-overview
	url = https://github.com/a85tract/CESM-modernization-overview.git
[submodule "RecastEngine"]
	path = RecastEngine
	url = https://github.com/a85tract/CESM-language-translator.git
